# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/src/**/*.js
/src/**/*.d.ts
/src/**/*.map
.webpack
/**/yarn.lock

# dependencies
node_modules
jspm_packages

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.vscode

# Serverless directories
.serverless

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
temp.txt
graphql.config.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Generated code
/src/graphql/models.ts
/src/graphql/schema.graphql
/.dboptions
/.iamoptions
/dboptions.json
/iamoptions.json

cluster-info.json
docker-build